{% extends "base.html" %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
    <main>
        <div class="page-title">
            <div class="container d-lg-flex justify-content-between align-items-center">
                <h1 class="mb-2 mb-lg-0">Восстановление пароля</h1>
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="{% url 'main-page' %}">Главная</a></li>
                        <li class="current">Восстановление пароля</li>
                    </ol>
                </nav>
            </div>
        </div>
        <section id="contact" class="contact section">
            <div class="container">
                <div class="row gy-4">
                    <div class="d-flex justify-content-center">
                        <div class="col-lg-8 col-md-8 text-center">
                            <p>Введите свой адрес электронной почты.</p>
                            <form action="" method="post" class="php-email-form">
                                {% csrf_token %}
                                {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                                <p>{{ form.email }}</p>
                                <div class="col-md-12 text-center">
                                    <button type="submit">Сбросить пароль</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}