{% extends 'base.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}

{% endblock %}
{% block content %}
    <main class="main">

        <!-- Page Title -->
        <div class="page-title position-relative">
            <div class="container d-lg-flex justify-content-between align-items-center">
                <h1 class="mb-2 mb-lg-0">Записи категории: {{ category.name }}</h1>
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="{% url 'main-page' %}">Главная</a></li>
                        <li class="current">{{ category.name }}</li>
                    </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->

        <div class="container">
            <div class="row">

                <div class="col-lg-8">
                    {% if articles %}
                        <!-- Blog Posts Section -->
                        <section id="blog-posts" class="blog-posts section">
                            <div class="container">
                                <div class="row gy-4">
                                    {% for article in articles %}
                                        <div class="col-lg-6">
                                            <article class="position-relative h-100">

                                                <div class="post-img position-relative overflow-hidden">
                                                    <img src="{{ article.cover.url }}" class="img-fluid" alt="">
                                                    <span class="post-date">{{ article.created_at|date:'d M Y' }}</span>
                                                </div>

                                                <div class="post-content d-flex flex-column">

                                                    <h3 class="post-title">{{ article.title }}</h3>

                                                    <div class="meta d-flex align-items-center">
                                                        <div class="d-flex align-items-center">
                                                            <i class="bi bi-person"></i> <span
                                                                class="ps-2">{{ article.author.username }}</span>
                                                        </div>
                                                        <span class="px-3 text-black-50">/</span>
                                                        <div class="d-flex align-items-center">
                                                            <i class="bi bi-folder2"></i> <span
                                                                class="ps-2">{{ article.category }}</span>
                                                        </div>
                                                    </div>

                                                    <p>
                                                        {{ article.content|truncatewords:18 }}
                                                    </p>

                                                    <hr>

                                                    <a href="{{ article.get_absolute_url }}"
                                                       class="readmore stretched-link"><span>Читать далее</span><i
                                                            class="bi bi-arrow-right"></i></a>

                                                </div>

                                            </article>
                                        </div><!-- End post list item -->
                                    {% endfor %}


                                </div>
                            </div>

                        </section><!-- /Blog Posts Section -->

                        <!-- Blog Pagination Section -->
                        <section id="blog-pagination" class="blog-pagination section">
                            <div class="container">
                                <div class="d-flex justify-content-center">
                                    <ul>
                                        {% if page_obj.has_previous %}
                                            <li><a href="?page={{ page_obj.previous_page_number }}"><i
                                                    class="bi bi-chevron-left"></i></a></li>
                                        {% endif %}

                                        {% for num in page_obj.paginator.page_range %}
                                            {% if page_obj.number == num %}
                                                <li><a href="#" class="active">{{ num }}</a></li>
                                            {% else %}
                                                <li><a href="?page={{ num }}">{{ num }}</a></li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if page_obj.has_next %}
                                            <li><a href="?page={{ page_obj.next_page_number }}"><i
                                                    class="bi bi-chevron-right"></i></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <!-- /Blog Pagination Section -->
                    {% else %}
                        <p>К сожалениею, ничего нет...</p>
                    {% endif %}
                </div>

                <div class="col-lg-4 sidebar">

                    <div class="widgets-container">

                        <!-- Search Widget -->
                        <div class="search-widget widget-item">

                            <h3 class="widget-title">Поиск</h3>
                            <form action="{% url 'search' %}" method="post">
                                {% csrf_token %}
                                <input type="text" name="query" placeholder="">
                                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                            </form>

                        </div><!--/Search Widget -->

                        <!-- Recent Posts Widget -->
                        <div class="recent-posts-widget widget-item">

                            <h3 class="widget-title">Последние записи</h3>
                            {% get_last_5_articles as last_5_articles %}
                            {% for recent in last_5_articles %}
                                <div class="post-item">
                                    <img src="{{ recent.cover.url }}" alt="" class="flex-shrink-0">
                                    <div>
                                        <h4><a href="{% url 'article-detail' recent.slug %}">{{ recent.title }}</a></h4>
                                        <time datetime="2020-01-01">{{ recent.created_at }}</time>
                                    </div>
                                </div>
                            {% endfor %}


                        </div><!--/Recent Posts Widget -->

                        <!-- Tags Widget -->
                        <div class="tags-widget widget-item">

                            <h3 class="widget-title">Случайные теги</h3>
                            <ul>
                                {% get_random_tags as tags %}
                                {% for tag in tags %}
                                    <li><a href="#">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>

                        </div><!--/Tags Widget -->

                    </div>

                </div>

            </div>
        </div>

    </main>
{% endblock %}