{% extends "base.html" %}
{% load avatar_tags %}
{% load custom_filters %}
{% block title %}Main page{% endblock %}
{% block content %}
    <main class="main">

        <!-- Slider Section -->
        <section id="slider" class="slider section dark-background">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="swiper init-swiper">

                    <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "centeredSlides": true,
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "navigation": {
                "nextEl": ".swiper-button-next",
                "prevEl": ".swiper-button-prev"
              }
            }
          </script>

                    <div class="swiper-wrapper">
                        {% for article in last_10_articles|slice:':4' %}
                            <div class="swiper-slide" style="background-image: url('{{ article.cover.url }}');">
                                <div class="content">
                                    <h2><a href="{% url 'article-detail' article.slug %}">{{ article.title }}</a></h2>
                                    <p>{{ article.content|truncatewords:10 }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </section><!-- /Slider Section -->

        <!-- Trending Category Section -->
        <section id="trending-category" class="trending-category section">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="container" data-aos="fade-up">
                    <div class="row g-5">
                        <div class="col-lg-4">

                            <div class="post-entry lg">
                                {% for article in last_10_articles|slice:':1' %}



                                    <a href="{% url 'article-detail' article.slug %}"><img src="{{ article.cover.url }}"
                                                                                           alt=""
                                                                                           class="img-fluid"></a>
                                    <div class="post-meta"><span class="date">{{ article.category.name }}</span> <span
                                            class="mx-1">•</span>
                                        <span>{{ article.created_at|date:"d M, Y" }}</span></div>
                                    <h2><a href="{% url 'article-detail' article.slug %}">{{ article.title }}</a>
                                    </h2>
                                    <p class="mb-4 d-block">{{ article.content|truncatewords:20 }}</p>

                                    <div class="d-flex align-items-center author">
                                        <div class="photo">{% avatar article.author class="img-fluid" %}
                                        </div>
                                        <div class="name">
                                            <h3 class="m-0 p-0">{{ article.author.username }}</h3>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>

                        <div class="col-lg-8">
                            <div class="row g-5">
                                {% for article in last_10_articles|slice:'1:9' %}
                                    {% if forloop.counter == 1 or forloop.counter == 5 %}
                                        <!-- Открываем новый col-lg-4 каждые 4 статьи -->
                                        <div class="col-lg-4 border-start custom-border">
                                    {% endif %}
                                <div class="post-entry">
                                    <a href="{% url 'article-detail' article.slug %}"><img
                                            src="{{ article.cover.url }}"
                                            alt=""
                                            class="img-fluid"></a>
                                    <div class="post-meta"><span class="date">{{ article.category }}</span> <span
                                            class="mx-1">•</span> <span>{{ article.created_at|date:"d M, Y" }}</span>
                                    </div>
                                    <h2><a href="{% url 'article-detail' article.slug %}">{{ article.title }}</a></h2>
                                </div>
                                {% if forloop.counter == 4 or forloop.counter == 8 %}
                                    <!-- Закрываем div col-lg-4 после каждой четвертой статьи -->
                                    </div>
                                {% endif %}

                                {% endfor %}

                                <!-- Trending Section -->
                                <div class="col-lg-4">

                                    <div class="trending">
                                        <h3>Популярное</h3>
                                        <ul class="trending-post">
                                            {% for article in last_10_articles|random_articles:5 %}
                                                <li>
                                                    <a href="{% url 'article-detail' article.slug %}">
                                                        <span class="number">{{ forloop.counter }}</span>
                                                        <h3>{{ article.title }}</h3>
                                                        <span class="author">{{ article.author.username }}</span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                </div> <!-- End Trending Section -->
                            </div>
                        </div>

                    </div> <!-- End .row -->
                </div>

            </div>

        </section><!-- /Trending Category Section -->

        <!-- Culture Category Section -->
        {% for category, articles in articles_by_category.items %}
            <section id="{% cycle 'culture' 'business' 'lifestyle' %}-category"
                     class="{% cycle 'culture' 'business' 'lifestyle' %}-category section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <div class="section-title-container d-flex align-items-center justify-content-between">
                        <h2>{{ category.name }}</h2>
                        <p><a href="categories.html">Все записи категории "{{ category.name }}"</a></p>
                    </div>
                </div><!-- End Section Title -->

                <div class="container" data-aos="fade-up" data-aos-delay="100">

                    {% cycle 'culture' 'business' 'lifestyle' as current_category silent %}
                    {% if current_category == 'culture' %}
                        {% include 'includes/culture_category.html' %}
                    {% elif current_category == 'business' %}
                        {% include 'includes/business_category.html' %}
                    {% elif current_category == 'lifestyle' %}
                        {% include 'includes/lifestyle_category.html' %}
                    {% endif %}

                </div>

            </section><!-- /Culture Category Section -->

        {% endfor %}

    </main>

{% endblock %}