{% load avatar_tags %}
<div class="row">
    <div class="col-md-9">

        {% for article in articles|slice:":1" %}

            <div class="d-lg-flex post-entry">
                <a href="{% url 'article-detail' article.slug %}" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                    <img src="{{ article.cover.url }}" alt="" class="img-fluid">
                </a>
                <div>
                    <div class="post-meta"><span class="date">{{ article.category.name }}</span> <span
                            class="mx-1">•</span>
                        <span>{{ article.created_at|date:"d M, Y" }}</span></div>
                    <h3><a href="{% url 'article-detail' article.slug %}">{{ article.title }}</a></h3>
                    <p>{{ article.content|truncatewords:20 }}</p>
                    <div class="d-flex align-items-center author">
                        <div class="photo">{% avatar article.author class="img-fluid" %}
                        </div>
                        <div class="name">
                            <h3 class="m-0 p-0">{{ article.author.username }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}



        <div class="row">
            <div class="col-lg-4">
                {% for article in articles|slice:"1:2" %}
                    <div class="post-list border-bottom">
                        <a href="{% url 'article-detail' article.slug %}"><img src="{{ article.cover.url }}"
                                                                               alt=""
                                                                               class="img-fluid"></a>
                        <div class="post-meta"><span class="date">{{ article.category.name }}</span> <span
                                class="mx-1">•</span>
                            <span>{{ article.created_at|date:"d M, Y" }}</span></div>
                        <h2 class="mb-2"><a href="{% url 'article-detail' article.slug %}">{{ article.title }}</a></h2>
                        <span class="author mb-3 d-block">{{ article.author.username }}</span>
                        <p class="mb-4 d-block">{{ article.content|truncatewords:10 }}</p>
                    </div>
                {% endfor %}
                {% for article in articles|slice:"2:3" %}
                    <div class="post-list">
                        <div class="post-meta"><span class="date">{{ article.category.name }}</span> <span
                                class="mx-1">•</span>
                            <span>{{ article.created_at|date:"d M, Y" }}</span></div>
                        <h2 class="mb-2"><a href="{% url 'article-detail' article.slug %}">{{ article.title }}</a></h2>
                        <span class="author mb-3 d-block">{{ article.author.username }}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-8">
                {% for article in articles|slice:"3:4" %}
                    <div class="post-list">
                        <a href="{% url 'article-detail' article.slug %}"><img src="{{ article.cover.url }}"
                                                                               alt=""
                                                                               class="img-fluid"></a>
                        <div class="post-meta"><span class="date">{{ article.category.name }}</span> <span
                                class="mx-1">•</span>
                            <span>{{ article.created_at|date:"d M, Y" }}</span></div>
                        <h2 class="mb-2"><a href="{% url 'article-detail' article.slug %}">{{ article.title }}</a></h2>
                        <span class="author mb-3 d-block">{{ article.author.username }}</span>
                        <p class="mb-4 d-block">{{ article.content|truncatewords:10 }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        {% for article in articles|slice:"4:10" %}
            <div class="post-list border-bottom">
                <div class="post-meta"><span class="date">{{ article.category.name }}</span> <span class="mx-1">•</span>
                    <span>{{ article.created_at|date:"d M, Y" }}</span>
                </div>
                <h2 class="mb-2"><a href="{% url 'article-detail' article.slug %}">{{ article.title }}</a></h2>
                <span class="author mb-3 d-block">{{ article.author.username }}</span>
            </div>
        {% endfor %}
    </div>
</div>