<div class="row g-5">
    <div class="col-lg-4">
        {% for article in articles|slice:":1" %}
            <div class="post-list lg">
                <a href="{{ article.get_absolute_url }}"><img src="{{ article.cover.url }}" alt=""
                                                              class="img-fluid"></a>
                <div class="post-meta"><span class="date">{{ article.category.name }}</span> <span class="mx-1">•</span>
                    <span>{{ article.created_at|date:"d M, Y" }}</span></div>
                <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
                <p class="mb-4 d-block">{{ article.content|truncatewords:20 }}</p>

                <div class="d-flex align-items-center author">
                    <div class="photo"><img src="{{ article.author.userprofile.avatar.url }}"
                                            alt="" class="img-fluid">
                    </div>
                    <div class="name">
                        <h3 class="m-0 p-0">{{ article.author.username }}</h3>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for article in articles|slice:"1:3" %}
            <div class="post-list {% cycle 'border-bottom' '' %}">
                <div class="post-meta"><span class="date">{{ article.category.name }}</span> <span class="mx-1">•</span>
                    <span>{{ article.created_at|date:"d M, Y" }}</span></div>
                <h2 class="mb-2"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
                <span class="author mb-3 d-block">{{ article.author.username }}</span>
            </div>
        {% endfor %}
    </div>

    <div class="col-lg-8">
        <div class="row g-5">
            <div class="col-lg-4 border-start custom-border">
                {% for article in articles|slice:"3:6" %}
                    <div class="post-list">
                        <a href="{{ article.get_absolute_url }}"><img src="{{ article.cover.url }}" alt=""
                                                                      class="img-fluid"></a>
                        <div class="post-meta"><span class="date">{{ article.category.name }}</span> <span
                                class="mx-1">•</span> <span>{{ article.created_at|date:"d M, Y" }}</span></div>
                        <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-4 border-start custom-border">
                {% for article in articles|slice:"6:9" %}
                    <div class="post-list">
                        <a href="{{ article.get_absolute_url }}"><img src="{{ article.cover.url }}" alt=""
                                                                      class="img-fluid"></a>
                        <div class="post-meta"><span class="date">{{ article.category.name }}</span> <span
                                class="mx-1">•</span> <span>{{ article.created_at|date:"d M, Y" }}</span></div>
                        <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
                    </div>
                {% endfor %}

            </div>
            <div class="col-lg-4">
                {% for article in articles|slice:"9:" %}
                    <div class="post-list border-bottom">
                        <div class="post-meta"><span class="date">{{ article.category.name }}</span> <span
                                class="mx-1">•</span> <span>{{ article.created_at|date:"d M, Y" }}</span></div>
                        <h2 class="mb-2"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
                        <span class="author mb-3 d-block">{{ article.author.username }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>